{
    "semi": true,
    "singleQuote": false,
    "tabWidth": 4,
    "useTabs": false,
    "trailingComma": "all",
    "printWidth": 100,
    "bracketSpacing": true,
    "arrowParens": "always",
    "endOfLine": "lf",
    "quoteProps": "as-needed",
    "htmlWhitespaceSensitivity": "css",
    "embeddedLanguageFormatting": "auto",
    "plugins": ["prettier-plugin-astro"],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        },
        {
            "files": "*.{js,jsx,ts,tsx}",
            "options": {
                "parser": "babel-ts"
            }
        },
        {
            "files": "*.css",
            "options": {
                "parser": "css"
            }
        },
        {
            "files": "*.json",
            "options": {
                "parser": "json",
                "printWidth": 100,
                "semi": false,
                "trailingComma": "none"
            }
        }
    ]
}
