---
const ItemsIndustry = [
{
    id: "1",
    icon: "payments",
    title: "Financial Companies",
    extracto: "Secure transactions  predictive market analysis.",
    class: "w-12 h-12 rounded-lg bg-blue-50  flex items-center justify-center mb-4 text-blue-600 roup-hover:scale-110 transition-transform",
    },
{
    id: "2",
    icon: "hub",
    title: "Tech Providers  Channels",
    extracto: "Distribution network optimization  partner integration.",
    class: "w-12 h-12 rounded-lg bg-purple-50 dark:bg-purple-900/20 flex items-center justify-center mb-4 text-purple-600 dark:text-purple-400 group-hover:scale-110 transition-transform",
    },
{
    id: "3",
    icon: "shopping_bag",
    title: "Retail",
    extracto: "Personalized experiences  inventory intelligence.",
    class: "w-12 h-12 rounded-lg bg-red-50 dark:bg-red-900/20 flex items-center justify-center mb-4 text-red-600 dark:text-red-400 group-hover:scale-110 transition-transform",
    },
{
    id: "4",
    icon: "factory",
    title: "Industries",
    extracto: "Smart manufacturing, IoT integration  automation.",
    class: "w-12 h-12 rounded-lg bg-yellow-50 dark:bg-yellow-900/20 flex items-center justify-center mb-4 text-yellow-600 dark:text-yellow-400 group-hover:scale-110 transition-transform",
    },
];
---

<section class="py-24 bg-surface-light dark:bg-surface-dark" id="industries">
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex flex-col items-center">
        <div class="text-center mb-16 max-w-2xl">
            <h2
                class="text-3xl md:text-4xl font-display font-bold text-slate-900 mb-4"
            >
                Industries Served
            </h2>
            <p class="text-slate-600 dark:text-slate-400 text-lg">
                We tailor our expertise to the unique challenges of dynamic sectors, fostering
                growth where it matters most.
            </p>
        </div>
        <div class="flex flex-wrap justify-center gap-6 pb-8">
            {
                ItemsIndustry.map((item) => (
                    <div class="min-w-[260px] max-w-[300px] flex-1 group p-6 rounded-2xl bg-white border border-gray-100 hover:border-nexus-blue/30 transition-all hover:shadow-lg">
                        <div class={item.class}>
                            <span class="material-symbols-outlined">{item.icon}</span>
                        </div>
                        <h4 class="font-bold text-slate-900 ">{item.title}</h4>
                        <p class="text-xs text-slate-500 mt-2">{item.extracto}</p>
                    </div>
                ))
            }
        </div>
    </div>
</section>
